#img1 {
            position: relative;
            margin:10%;

}


#img2 {
            position: relative;
            margin:10%;
            display: none;

}

noscript {

  position:relative;
  left: 2%;
  font-weight: bold;
}
